{% extends 'blog/main.html' %}
{% block main_section %}
    <h3>Page with contacts</h3>
{% endblock main_section %}

{% block aside_news__section %}
    <h3><b>5 bests gaming engines for creating a games</b></h3>
    <img src="https://itproger.com/img/news/1487318371.jpg" class="img-thumbnail mb-1">
    <p>With development of game industry came a great many all kinds of engines.
        Choose need is hard. We tell about 5 best engines for creating
        games oll thematics</p>
    <a href="https://itproger.com/news/20" target="_blank">
        <button class="btn btn-warning">Look</button>
    </a>
{% endblock aside_news__section %}
