body {
    background: #FAFAFA;
}

img {
    max-width: 100%!important;
}

footer {
    padding: 30px;
    background: #333a41;
    color: #F1EFEF;
    float: left;
    width: 100%;
    margin-top: 50px;
}

footer a {color: #788C9E}
footer a:hover {color: #79B0E2}

.alert-light {
    border-color: #BFBFBF
}

.user_image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 10px;
    margin_left: 20px;
}

.form-section {
    background : #FFF;
    padding: 20px;
    border: 1px solid silver;
    box-sizing: border-box;
    width: 100%;
    -webkit-box-shadow: 0 2px 3px 0 rgba(74,74,74,.21);
    -moz-box-shadow: 0 2px 3px 0 rgba(74, 74, 74,.21);
    box-shadow: 0 2px 3px 0 rgba(74,74,74,.21);
}

.form-section > h2 {
    color: #B38A22;
    margin-bottom: 10px;
}
