{% extends 'blog/main.html' %}
{% block main_section %}
    <div class="form-section">
        <h2>Exit successful</h2>
        Registration is done? <a href="{% url 'user' %}">Enter in personal account</a>
    </div>
{% endblock main_section %}

{% block aside_news__section %}
    <h3><b>5 bests gaming engines for creating a games</b></h3>
    <img src="https://itproger.com/img/news/1487168862.jpg" class="img-thumbnail mb-1">
    <p>Books about programming is rather complicated material, which hard to read. That wi,
        to take maximum from books of programming, yo need to chose write author and write books.</p>
    <a href="https://itproger.com/news/18" target="_blank">
        <button class="btn btn-warning">Look</button>
    </a>
{% endblock aside_news__section %}
